.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.823),
    rgba(255, 254, 254, 0.509),
    rgba(255, 255, 255, 0.228)
  );
  backdrop-filter: blur(3px);
  z-index: 100;
}

.header__container {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #459fe0;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
  }

  @media screen and (min-width: 1000px) {
    margin-right: 100px;
  }
}

.header__content {
  display: flex;
  //   align-items: center;
}

.header__span {
  color: #000000;
}

.logo-icon {
  width: 30px;
  height: 30px;
  margin-right: 4px;
}

.header-pages {
  display: none;

  @media screen and (min-width: 1000px) {
    display: flex;
    gap: 20px;
    margin-right: 100;
  }
}

.header-pages__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #111111;
}

.header-socials {
    display: none;

    @media screen and (min-width: 1000px) {
    display: flex;
    gap: 20px;
  }
}
